/* --- OVERLAY DE LA ANIMACIÓN --- */
#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0b0f19;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
}

/* --- LA EXPLOSIÓN AZUL --- */
.explosion-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0e0eec;
    border-radius: 50%;
    box-shadow: 0 0 50px 30px #0e0eec, 0 0 100px 60px #00aaff;
    opacity: 0;
    animation: explode 1.2s ease-out forwards;
}

/* --- EL ESCUDO --- */
.intro-logo {
    position: relative;
    width: 180px;
    opacity: 0;
    transform: scale(0.1);
    animation: popShield 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s forwards;
    filter: drop-shadow(0 0 15px rgba(0, 90, 156, 0.8));
}

/* --- FOTOGRAMAS CLAVE (KEYFRAMES) --- */
@keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { transform: scale(250); opacity: 0; }
}

@keyframes popShield {
    0% { opacity: 0; transform: scale(0.1) rotate(-20deg); }
    50% { opacity: 1; transform: scale(1.2) rotate(5deg); }
    100% { opacity: 1; transform: scale(1) rotate(0deg); }
}

/* Clase para ocultar todo con JS */
.intro-hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}